* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  color: #111111;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.dark {
  background-color: #111111;
  color: #f2f2f2;
}

.btn {
  padding: 16px 32px;
  border: none;
  border-radius: 6px;
  background-color: #111111;
  color: #f2f2f2;
}

.btn:hover {
  cursor: pointer;
}

.btn-dark {
  background-color: #f2f2f2;
  color: #111111;
}
